In [5]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_excel("NBA_data.xlsx")

df_bio = pd.read_excel("NBA_bio_data.xlsx")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8049 entries, 0 to 8048
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         8049 non-null   object
 1   Season_type  8049 non-null   object
 2   PLAYER_ID    8049 non-null   int64
 3   RANK         8049 non-null   int64
 4   PLAYER       8049 non-null   object
 5   TEAM_ID      8049 non-null   int64
 6   TEAM         8049 non-null   object
 7   GP           8049 non-null   int64
 8   MIN          8049 non-null   int64
 9   FGM          8049 non-null   int64
 10  FGA          8049 non-null   int64
 11  FG_PCT       8049 non-null   float64
 12  FG3M         8049 non-null   int64
 13  FG3A         8049 non-null   int64
 14  FG3_PCT      8049 non-null   float64
 15  FTM          8049 non-null   int64
 16  FTA          8049 non-null   int64
 17  FT_PCT       8049 non-null   float64
 18  OREB         8049 non-null   int64
 19  DREB         8049 non-null   int64
 20  REB          8049 non-null   int64
 21  AST          8049 non-null   int64
 22  STL          8049 non-null   int64
 23  BLK          8049 non-null   int64
 24  TOV          8049 non-null   int64
 25  PF           8049 non-null   int64
 26  PTS          8049 non-null   int64
 27  EFF          8049 non-null   int64
 28  AST_TOV      8049 non-null   float64
 29  STL_TOV      8049 non-null   float64
dtypes: float64(5), int64(21), object(4)
memory usage: 1.8+ MB